<nav id="menu-js" class="main-menu">
    <ul>
        <li class="text-orange-400">
            <a href="{{path('app_jeu')}}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Ma liste
                </span>
            </a>

        </li>
        <li class="slides-text text-orange-400">
            <a href="#page-slide">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Mon classement
                </span>
            </a>
        </li>
        <li class="slides-text text-orange-400">
            <a href="{{ path('add_jeu')}}">
                <i class="fa fa-map-marker fa-2x"></i>
                <span class="nav-text">
                    Ajouter un jeu
                </span>
            </a>
        </li>
        <li class="has-subnav text-orange-400">
            <a href="#">
                <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    test
                </span>
            </a>
        </li>
        <li class="text-orange-400">
            <a href="#">
                <i class="fa fa-book fa-2x"></i>
                <span class="nav-text">
                    test
                </span>
            </a>
        </li>
        <li class="text-orange-400">
            <a href="#">
                <i class="fa fa-solid fa-envelope-open-text"></i>
                <span class="nav-text">
                    test
                </span>
            </a>
        </li>
    </ul>

</nav>